* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(https://www.eluniverso.com/resizer/v2/SA2ZX7FODBBE3N52XDK4KL6XJM.png?auth=8dc5770cd206608b5d65a7e4490bfdbc530342fced527b59e75471bf0b973b39&width=1004&height=670&quality=75&smart=true);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    border-bottom: 2px solid #ddd;
}

.navbar-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 22px;
}

.navbar-right {
    text-align: right;
    display: flex;
}

.navbar-right ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.btn {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: normal;
}

.ingresar {
    background-color: white;
    color: black;
}

.ingresar:hover {
    background-color: #616161;
}

.join {
    background-color: black;
    color: white;
}

.join:hover {
    background-color: #333;
}

.logo img {
    width: 60px;
    height: 60px;
}

.text-box {
    width: 90%;
    color:#06cb55;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: start;
}

.text-box h1{
    font-size: 38px;
}
.text-box h2{
    font-size: 28px
}

.text-box p{
    font-size: 20px;
    margin: 2px 0 10px;
    color:aliceblue;
}

.text-box ol, ul{
    color:aliceblue;
    font-size: 20px;
    left: 50px;
    text-align: start;
}

.list{
    padding: 10px;
    margin: 5px;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 28px;
    }
    .text-box h2{
        font-size: 22px;
    }
    .text-box p{
        font-size: 16px;
    }
    .text-box ol, ul{
        font-size: 16px;
    } 
    .navbar-item{
        font-size: 16px;
    }
    .navbar-right ul a{
        font-size: 16px;
    }
}

.funcion{
    width: 85%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 40px;
}

.funcion h2{
    font-size: 28px;
    color: #06cb55;
    background-color: rgba(4,9,30,0.7);
    border-radius: 8px;
    padding: 1.8%;
    border-bottom: 3%;
}
.funcion p{
    font-size: 20px;
}

.fila{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.funcion-col{
    width: 350px;
    flex-basis: 30%;
    border-radius: 8px;
    margin: 1%;
}

.funcion-col img{
    width: 100%;
    border-radius: 8px;
}

@media(max-width: 700px){
    .funcion{
        width: 95%;
    }
    .funcion h2{
        font-size: 22px;
    }
    .funcion p{
        font-size: 16px;
    }
}

.farmatec{
    display: flex;
    width: 85%;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: space-around;
    padding: 1%;
}
.vigil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 50px;
    width: 50%;
    padding: 2%;
    text-align: justify;
    background-color: aliceblue;
    border-radius: 8px;
    border-color: rgba(4,9,30,0.7);
    border-style: solid;
    border-width: 2px;
    margin: 1%;
}
.vigil a{
    text-decoration: none;
    color: #06cb55;
    font-size: 20px;
}
.farmatec h2{
    font-size: 28px;
    color: #06cb55;
    background-color: rgba(4,9,30,0.7);
    border-radius: 8px;
    padding: 1.8%;
}
.farmatec p{
    font-size: 20px;
}
@media(max-width: 700px){
    .farmatec{
        width: 95%;
    }
    .farmatec h2{
        font-size: 22px;
    }
    .farmatec p{
        font-size: 16px;
    }
}

.medicamentos{
    width: 85%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.control{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.libre{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.grupo{
    display: flex;
    width: 250px;
    height: 100px;
    background-color: rgba(4,9,30,0.7);
    border-radius: 8px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 1%;
    color: aliceblue;
    font-size: 20px;
}
.medicamentos h2{
    text-align: center;
    align-items: center;
    font-size: 28px;
    color: #06cb55;
    background-color: rgba(4,9,30,0.7);
    border-radius: 8px;
    padding: 1.8%;
}

.medicamentos h3{
    font-size: 22px;
    color: rgba(4,9,30,0.7);
    padding: 1.5%;
}

.medicamentos p{
    font-size: 20px;
}
@media(max-width: 700px){
    .medicamentos{
        width: 95%;
    }
    .medicamentos h2{
        font-size: 22px;
    }
    .medicamentos p{
        font-size: 16px;
    }
}

.more{
    margin: 35px auto;
    width: 85%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(https://szindustrial.com/wp-content/uploads/2024/06/control-de-calidad-en-la-industria-farmaceutica-medicamentos-SZ-Industrial.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    padding: 75px 0;
}

.more h2{
    text-align: center;
    align-items: center;
    font-size: 28px;
    color: #06cb55;
}

.more p{
    font-size: 20px;
    color:aliceblue;
}
.form{
    margin-top: 10px;
    margin-bottom: 50px;
}
@media(max-width: 700px){
    .more{
        width: 95%;
    }
    .more h2{
        font-size: 22px;
    }
    .more p{
        font-size: 16px;
    }
}
