* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", serif;
    }

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(imgs/medicamento_frascos.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    border-bottom: 2px solid #ddd;
}

.navbar-links {
    display: flex;
    gap: 22px;
    margin-left: 22px;
}

.navbar-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 22px;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 22px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.store-locator {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: flex;
    align-items: center;
}

.store-locator i {
    margin-right: 5px;
}

.btn {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: normal;
}

.ingresar {
    background-color: white;
    color: black;
}

.ingresar:hover {
    background-color: #616161;
}

.join {
    background-color: black;
    color: white;
}

.join:hover {
    background-color: #333;
}

.logo img {
    width: 60px;
    height: 60px;
}

.text-box {
    width: 90%;
    color:#06cb55;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: start;
}

.text-box h1{
    font-size: 38px;
}
.text-box h2{
    font-size: 30px
}

.text-box p{
    font-size: 20px;
    margin: 10px 0 40px;
    color:aliceblue;
}

.text-box ol, ul{
    color:aliceblue;
    font-size: 20px;
    left: 50px;
    text-align: start;
}

.list{
    padding: 10px;
    margin: 5px;
}

